body {
    min-height: 100vh;
    background-image: radial-gradient(circle, #2b6168, #234d53, #1b3a3f, #13282b, #091719);
}

/* #navbar {
    background-color: black;
} */

.icon {
    color: white;
}

.hero {
    background-image: linear-gradient(to right bottom, #6b8686, #698988, #688d8a, #66908c, #65938d);
}

.my-name {
    color: #18391a;
}

.btn-resume {
    background-color: #1b3a3f;
    color: white;
}

.btn-resume:hover {
    background-color: white;
    color: #1b3a3f;
}

.about-text {
    text-align: justify;
}

.bg-skill {
    background-image: linear-gradient(to bottom, #354646, #3b4a4a, #404e4d, #465351, #4c5755);
}